@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: 'Funnel Sans', sans-serif;
}

body{
    margin: 2em;
}

h1{
    Font-size: 3em;
    font-weight: 500;
}

h2{
    Font-size: 2em;
    font-weight: 500;
}

h3{

}

h4{

}


body{

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#logo{
    width: 6em;
    height: auto;
}

button{
    color: black;

    border: none;
    font-size: 1em;
    text-decoration: none;
    background: none;
}
a{
    color: black;

    border: none;
    font-size: 1.2em;
    text-decoration: none;
    background: none;
}

#button-container{

    display: flex;
    flex-direction: row;
    gap: 8em;
    justify-content: space-between;

}


#logo-container{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}


footer{
    background-color: #EFEFEF;
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
}

.hero-section {

    width: 90%;
    gap: 0;
    padding: 5em;
    background-color: #EFEFEF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -48px 86px 28px 0px rgba(0, 0, 0, 0.00), -31px 55px 25px 0px rgba(0, 0, 0, 0.01), -17px 31px 21px 0px rgba(0, 0, 0, 0.05), -8px 14px 16px 0px rgba(0, 0, 0, 0.08), -2px 3px 9px 0px rgba(0, 0, 0, 0.09);
    position: relative;
    overflow: hidden;
    height: 80vh;
}

.hero-content {
    text-align: center;
    z-index: 10;
}


.floating {
    position: absolute;
    transition: transform 0.3s;
    background: none;
}

.floating:hover {
    transition: transform 0.3s;
    transform: scale(1.05);
}

.floating.phone{
    width: 25em;
    height: auto;;
    left: 1%;
    z-index: 2;
    top: 40%;
}

.floating.alert{
    width: 10em;
    height: auto;
    top: 60%;
    right: 5%;
}

.floating.pass{
    width: 25em;
    height: auto;
    left: 20%;
    top: 60%;
    z-index: 1;
}

.floating.contro{
    top: 60%;
    right: 10%;
    width: 20em;
    height: auto;
}

.floating.signal{
    top: 80%;
    right: -1%;
    width: 25em;
    height: auto;
    rotate: 23deg ;
}

.doc{
    background: #373737;
    border-radius: 0.5em;
    color: white;
    height: 2em;

}
.contrib{
    background: #ff0000;
    border-radius: 0.5em;
    color: white;
    height: 2em;

}

.main-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

}

.s-content{
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
}

#introduction{
    background: #ff0000;
    border-radius: 1.5em;
    width: 40em;
    height: 20em;
}

#open-source{
    background: #EFEFEF;
    width: 20em;
    height: 20em;
    border-radius: 1.5em;
}
